.DS_Store
.Rproj.user
.Rhistory
.RData
.DS_Store
.Ruserdata
_site/.
docs/test.html
docs/test_files/
_site/images_lifesite/.DS_Store
docs/images_lifesite/.DS_Store
images_lifesite/.DS_Store
/.quarto/
/_site/